.b-header {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 64px;
    background: rgba(1,51,91,0.99);
    margin-bottom: 24px;
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
}