.m-hmbg {
	color: #fff;
	cursor: pointer;
	display: block;
	height: 40px;
	right: -10px;
	margin: 0 auto;
	position: relative;
	float: right;
	top: 12px;
	width: 40px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	@include breakpoint(tablet) {
		display: none;
	}
	.m-hmbg_item {
		background: #fff;
		height: 1px;
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -11px;
		width: 22px;
		transition: transform .1s ease-in-out,top .1s .1s ease-in-out,opacity .1s .2s ease-in-out;
		&:first-of-type {
			top: 14px;
		}	
		&:last-of-type { 
			top: 26px;
		}
	}
}
.is-mobile-open {
	.m-hmbg {
		.m-hmbg_item {
			opacity: 0;
			transition: opacity .1s ease-in-out,top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
			&:first-of-type {
				opacity:1;
				top:20px;
				transform:rotate(45deg)
			}
			&:last-of-type {
				opacity: 1;
				top: 20px;
				transform: rotate(-45deg)
			}
		}
	}
}