.m-menu {
	margin-top: 23px;
	float: left;
  list-style: none;
  display: none;
   @include breakpoint(tablet) {
    display: block;
   }
  &_item {
    font-family: $font-primary;
    font-size: 13px;
    display: block;
    float: left;
    margin-left: 45px; 
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
	a {
		font-family: $font-primary;
		font-size: 13px;
		display: block;
		color: #fff;
		text-decoration: none;
		font-weight: 500;
	}
}
.m-menu_user {
  float: right;
  margin-top: 15px;
  .m-menu_item {
    margin-left: 25px;
  }
  a {
    background: #12b460;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    display: block;
    height: 28px;
    line-height: 30px;
    &.is-secondary {
      background: #888;
    }
  }
  p {
    line-height: 38px;
  }
}