$wrapperWidth: 100%;

@import "./common/_reset";
@import "./common/_mixins";
@import "./common/_colors";
@import "./common/_fonts";

//blocks
@import "./blocks/_mainWrapper";
@import "./blocks/_header";
@import "./blocks/_footer";

//componenets
@import "./components/_logo";
@import "./components/_menu";
@import "./components/_grid";
@import "./components/_codeEditor";
@import "./components/_markdownBody";

html, body {
    height:100%;
}

body {
	font-size: 16px;
	font-family: $font-primary;
	line-height: 22px;
	background: #fff;
	a {
		font-size: 16px; 
		text-decoration: none;
	}
}

.is-content {
    margin: 0 auto;
    max-width: $wrapperWidth;
    padding: 0 20px;
    @include breakpoint(tablet) {
        padding: 0 40px;
    }
    @include breakpoint(desktop) {
        padding: 0 80px;
    }
    @include breakpoint(desktop_big) {
        padding: 0 100px;
    }
}

